.mainArea {
  border: 2px solid black;
  height: 500px;
  width: 500px;
  position: relative;
}
 .circle {
   border-radius: 50%;
   height:100px;
   width:100px;
   position: absolute;
   top: 40%;
   left: 40%;
 }
canvas{
	height: 500px;
	width: 500px;
}